<!-- Dubbing Video Card Component -->
<a [routerLink]="['/dubbing-video']"
    class="group flex flex-col items-center text-center outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded-xl">
    <div class="relative w-full max-w-[180px]">
        <div
            class="relative overflow-hidden flex items-center justify-center rounded-2xl bg-gray-100 transition-colors duration-200 group-hover:bg-gray-200 w-full">
            <div class="w-full pb-[100%]"></div>
            <div
                class="absolute inset-0 flex items-center justify-center md:group-hover:scale-110 transition-transform duration-200 ease-in-out will-change-transform">
                <svg width="108" height="108" viewBox="0 0 108 108" fill="none"
                    xmlns="http://www.w3.org/2000/svg" class="dark:mix-blend-plus-lighter">
                    <g
                        class="md:group-hover:scale-110 origin-center transition-all duration-200 ease-in-out">
                        <rect x="25.7578" y="25.1987" width="67.8246" height="51.5787" rx="8"
                            transform="rotate(4.85741 25.7578 25.1987)" fill="url(#pattern0_106_568)"
                            class="dark:invert dark:hue-rotate-180"></rect>
                    </g>
                    <g
                        class="md:group-hover:scale-110 md:group-hover:-rotate-3 origin-center transition-all duration-200 ease-in-out">
                        <rect x="9" y="51" width="42" height="16" rx="5" fill="#2DD28D" stroke="#F3F4F6"
                            stroke-width="2"
                            class="md:group-hover:stroke-[#E5E7EB] transition-all duration-200 ease-in-out">
                        </rect>
                        <line x1="15.4713" y1="62.185" x2="15.4713" y2="55.8149" stroke="white"
                            stroke-width="1.62974" stroke-linecap="round"></line>
                        <line x1="18.7305" y1="62.0834" x2="18.7305" y2="55.9163" stroke="white"
                            stroke-width="1.62974" stroke-linecap="round"></line>
                        <line x1="21.9903" y1="61.0161" x2="21.9903" y2="56.9838" stroke="white"
                            stroke-width="1.62974" stroke-linecap="round"></line>
                        <line x1="25.2496" y1="61.7023" x2="25.2496" y2="56.2976" stroke="white"
                            stroke-width="1.62974" stroke-linecap="round"></line>
                        <line x1="28.5094" y1="59.4053" x2="28.5093" y2="58.5946" stroke="white"
                            stroke-width="1.62974" stroke-linecap="round"></line>
                        <line x1="31.7686" y1="59.4744" x2="31.7686" y2="58.5255" stroke="white"
                            stroke-width="1.62974" stroke-linecap="round"></line>
                        <line x1="35.0279" y1="60.5455" x2="35.0279" y2="57.4543" stroke="white"
                            stroke-width="1.62974" stroke-linecap="round"></line>
                        <line x1="38.2877" y1="60.6032" x2="38.2877" y2="57.3966" stroke="white"
                            stroke-width="1.62974" stroke-linecap="round"></line>
                        <line x1="41.5469" y1="60.6435" x2="41.5469" y2="57.3565" stroke="white"
                            stroke-width="1.62974" stroke-linecap="round"></line>
                        <line x1="44.8067" y1="61.2447" x2="44.8067" y2="56.7552" stroke="white"
                            stroke-width="1.62974" stroke-linecap="round"></line>
                    </g>
                    <g
                        class="md:group-hover:scale-110 md:group-hover:translate-y-1 origin-center transition-all duration-200 ease-in-out">
                        <rect x="33" y="73" width="30" height="16" rx="5" fill="#2DD28D"
                            stroke="#F3F4F6" stroke-width="2"
                            class="md:group-hover:stroke-[#E5E7EB] transition-all duration-200 ease-in-out">
                        </rect>
                        <line x1="40.25" y1="84.25" x2="40.25" y2="77.75" stroke="white"
                            stroke-width="1.5" stroke-linecap="round"></line>
                        <line x1="43.4497" y1="83.1548" x2="43.4497" y2="78.8453" stroke="white"
                            stroke-width="1.5" stroke-linecap="round"></line>
                        <line x1="46.6499" y1="83.8589" x2="46.6499" y2="78.1412" stroke="white"
                            stroke-width="1.5" stroke-linecap="round"></line>
                        <line x1="49.8501" y1="81.502" x2="49.8501" y2="80.4979" stroke="white"
                            stroke-width="1.5" stroke-linecap="round"></line>
                        <line x1="53.0503" y1="81.573" x2="53.0503" y2="80.4271" stroke="white"
                            stroke-width="1.5" stroke-linecap="round"></line>
                        <line x1="56.25" y1="82.672" x2="56.25" y2="79.3281" stroke="white"
                            stroke-width="1.5" stroke-linecap="round"></line>
                    </g>
                    <g
                        class="md:group-hover:scale-110 md:group-hover:rotate-6 origin-center transition-all duration-200 ease-in-out">
                        <rect x="66" y="17" width="32" height="32" rx="16" fill="#2DD28D"
                            stroke="#F3F4F6" stroke-width="2.5"
                            class="md:group-hover:stroke-[#E5E7EB] transition-all duration-200 ease-in-out">
                        </rect>
                        <g clip-path="url(#clip0_106_568)">
                            <path d="M77.3335 30.3334L81.3335 34.3334" stroke="white"
                                stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M76.6665 34.3334L80.6665 30.3334L81.9998 28.3334" stroke="white"
                                stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M75.3335 28.3334H83.3335" stroke="white" stroke-width="1.33333"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M78.6665 26.3334H79.3332" stroke="white" stroke-width="1.33333"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M88.6667 39.6667L85.3333 33L82 39.6667" stroke="white"
                                stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M83.3335 37H87.3335" stroke="white" stroke-width="1.33333"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </g>
                    <defs>
                        <pattern id="pattern0_106_568" patternContentUnits="objectBoundingBox" width="1"
                            height="1">
                            <use xlink:href="#image0_106_568" transform="scale(0.00249377 0.00327924)">
                            </use>
                        </pattern>
                        <clipPath id="clip0_106_568">
                            <rect width="16" height="16" fill="white" transform="translate(74 25)">
                            </rect>
                        </clipPath>
                        <image id="image0_106_568" width="401" height="305" xlink:href="assets/images/png/dubbing.png">
                        </image>
                    </defs>
                </svg>

            </div>
        </div>
        <p class="mt-2 text-sm font-medium text-gray-900">Dubbed video</p>
    </div>
</a>
