<!-- Audiobook Card Component -->
<a [routerLink]="['/audiobook']"
    class="group flex flex-col items-center text-center outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded-xl">
    <div class="relative w-full max-w-[180px]">
        <div
            class="relative overflow-hidden flex items-center justify-center rounded-2xl bg-gray-100 transition-colors duration-200 group-hover:bg-gray-200 w-full">
            <div class="w-full pb-[100%]"></div>
            <div
                class="absolute inset-0 flex items-center justify-center md:group-hover:scale-110 transition-transform duration-200 ease-in-out will-change-transform">
                <svg width="108" height="108" viewBox="0 0 108 108" fill="none"
                    xmlns="http://www.w3.org/2000/svg" class="dark:mix-blend-plus-lighter">
                    <g
                        class="md:group-hover:scale-110 origin-center transition-all duration-200 ease-in-out">
                        <rect x="24" y="19" width="58" height="42" rx="9"
                            fill="url(#paint0_linear_106_572)"></rect>
                        <rect x="39" y="53" width="30" height="4" rx="2" fill="#E5E7EB"></rect>
                        <rect x="39" y="60" width="24" height="4" rx="2" fill="#E5E7EB"></rect>
                        <circle cx="3" cy="3" r="3" transform="matrix(-1 0 0 1 36.1089 26)"
                            fill="#2DD28D">
                        </circle>
                        <circle cx="3" cy="3" r="3" transform="matrix(-1 0 0 1 36.1089 26)"
                            fill="url(#pattern0_106_572)" class="dark:hue-rotate-180 dark:invert">
                        </circle>
                        <circle cx="3" cy="3" r="3" transform="matrix(-1 0 0 1 36.1089 26)"
                            fill="#EB524B">
                        </circle>
                        <rect x="39" y="27" width="34" height="4" rx="2" fill="#FDCDCB"></rect>
                        <rect x="39" y="34" width="28" height="4" rx="2" fill="#FDCDCB"></rect>
                        <rect x="39" y="41" width="32" height="4" rx="2" fill="#FDCDCB"></rect>
                        <path
                            d="M24 38.661V27C24 22.5817 27.5817 19 32 19H74C78.4183 19 82 22.5817 82 27V38"
                            stroke="#E5E7EB" stroke-width="1.5" stroke-linecap="round"></path>
                    </g>
                    <g
                        class="md:group-hover:scale-125 md:group-hover:-rotate-12 md:group-hover:translate-y-2 origin-[10px_60px] transition-all duration-200 ease-in-out">
                        <rect x="4" y="41" width="32" height="32" rx="16" fill="url(#pattern1_106_572)"
                            class="dark:hue-rotate-180 dark:invert"></rect>
                        <rect x="4" y="41" width="32" height="32" rx="16" fill="#EB524B"></rect>
                        <rect x="4" y="41" width="32" height="32" rx="16" stroke="#F3F4F6"
                            stroke-width="2.5"
                            class="md:group-hover:stroke-[#E5E7EB] transition-all duration-200 ease-in-out">
                        </rect>
                        <path
                            d="M14.6665 57.8519H16.4443C16.7586 57.8519 17.0601 57.9768 17.2823 58.199C17.5046 58.4213 17.6295 58.7227 17.6295 59.0371V60.8149C17.6295 61.1292 17.5046 61.4306 17.2823 61.6529C17.0601 61.8752 16.7586 62 16.4443 62H15.8517C15.5374 62 15.2359 61.8752 15.0136 61.6529C14.7914 61.4306 14.6665 61.1292 14.6665 60.8149V56.6667C14.6665 55.2522 15.2284 53.8957 16.2286 52.8955C17.2288 51.8953 18.5853 51.3334 19.9998 51.3334C21.4143 51.3334 22.7709 51.8953 23.7711 52.8955C24.7713 53.8957 25.3332 55.2522 25.3332 56.6667V60.8149C25.3332 61.1292 25.2083 61.4306 24.986 61.6529C24.7638 61.8752 24.4623 62 24.148 62H23.5554C23.2411 62 22.9396 61.8752 22.7173 61.6529C22.4951 61.4306 22.3702 61.1292 22.3702 60.8149V59.0371C22.3702 58.7227 22.4951 58.4213 22.7173 58.199C22.9396 57.9768 23.2411 57.8519 23.5554 57.8519H25.3332"
                            stroke="white" stroke-width="1.33333" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </g>
                    <g
                        class="md:group-hover:scale-110 md:group-hover:rotate-12 origin-center transition-all duration-200 ease-in-out">
                        <rect x="58.623" y="38.6885" width="40.3321" height="51.7078" rx="6.24266"
                            transform="rotate(9.28629 58.623 38.6885)" fill="url(#pattern2_106_572)"
                            class="dark:hue-rotate-180 dark:invert"></rect>
                    </g>
                    <defs>
                        <pattern id="pattern0_106_572" patternContentUnits="objectBoundingBox" width="1"
                            height="1">
                            <use xlink:href="#image0_106_572"
                                transform="translate(-0.00344037) scale(0.00114679)"></use>
                        </pattern>
                        <pattern id="pattern1_106_572" patternContentUnits="objectBoundingBox" width="1"
                            height="1">
                            <use xlink:href="#image1_106_572"
                                transform="translate(-0.388889) scale(0.00138889)"></use>
                        </pattern>
                        <pattern id="pattern2_106_572" patternContentUnits="objectBoundingBox" width="1"
                            height="1">
                            <use xlink:href="#image2_106_572"
                                transform="matrix(0.0024 0 0 0.00195312 -0.000801318 0)"></use>
                        </pattern>
                        <linearGradient id="paint0_linear_106_572" x1="53" y1="19" x2="53" y2="61"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="white"></stop>
                            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                        </linearGradient>
                        <image id="image2_106_572" width="400" height="512"
                            xlink:href="assets/images/png/audiobook.png">
                        </image>
                    </defs>
                </svg>

            </div>
        </div>
        <p class="mt-2 text-sm font-medium text-gray-900">Audiobook</p>
    </div>
</a>
