<!-- Instant Speech Card Component -->
<a [routerLink]="['/instant-speech']"
    class="group flex flex-col items-center text-center outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded-xl">
    <div class="relative w-full max-w-[180px]">
        <div class="relative overflow-hidden flex items-center justify-center rounded-2xl bg-gray-100
   transition-colors duration-200 group-hover:bg-gray-200 w-full">
            <div class="w-full pb-[100%]"></div>
            <div class="absolute inset-0 flex items-center justify-center
     md:group-hover:scale-110 transition-transform duration-200 ease-in-out will-change-transform">
                <!-- Placeholder Icon -->
                <svg width="108" height="108" viewBox="0 0 108 108" fill="none"
                    xmlns="http://www.w3.org/2000/svg" class="dark:mix-blend-plus-lighter">
                    <g
                        class="md:group-hover:scale-110 origin-center transition-all duration-200 ease-in-out">
                        <rect x="26" y="27" width="58" height="42" rx="9"
                            fill="url(#paint0_linear_106_573)"></rect>
                        <rect x="34" y="35" width="39" height="4" rx="2" fill="#C7D5F4"></rect>
                        <rect x="34" y="42" width="28" height="4" rx="2" fill="#C7D5F4"></rect>
                        <rect x="34" y="49" width="32" height="4" rx="2" fill="#C7D5F4"></rect>
                        <rect x="65" y="57" width="13" height="5" rx="2.5" fill="#5D79DF"></rect>
                        <path
                            d="M26 50.661V35C26 30.5817 29.5817 27 34 27H76C80.4183 27 84 30.5817 84 35V64"
                            stroke="#E5E7EB" stroke-width="1.5" stroke-linecap="round"></path>
                    </g>
                    <g
                        class="md:group-hover:scale-125 md:group-hover:-rotate-12 origin-[30px_70px] transition-all duration-200 ease-in-out">
                        <rect x="10" y="55" width="32" height="32" rx="16" fill="#5D79DF"
                            stroke="#F3F4F6" stroke-width="2.5"
                            class="md:group-hover:stroke-[#E5E7EB] transition-all duration-200 ease-in-out">
                        </rect>
                        <path
                            d="M23.8668 76.3333V73.6L25.1335 73.7333C25.5023 73.7128 25.8512 73.5599 26.1163 73.3027C26.3813 73.0455 26.5446 72.7013 26.5762 72.3333V68.5333C26.5806 67.5729 26.2033 66.65 25.5273 65.9678C24.8513 65.2855 23.9319 64.8997 22.9715 64.8953C22.0111 64.8909 21.0882 65.2682 20.4059 65.9442C19.7237 66.6202 19.3379 67.5395 19.3335 68.5C19.3335 70.3666 19.7708 70.536 20.0002 71.5333C20.1552 72.1356 20.1618 72.7665 20.0195 73.372L19.3335 76.3333"
                            stroke="white" stroke-width="1.33333" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M31.2002 74.8666C32.1374 73.9293 32.6641 72.6582 32.6645 71.3327C32.6648 70.0072 32.1389 68.7358 31.2022 67.798"
                            stroke="white" stroke-width="1.33333" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M29.3331 73C29.5512 72.7819 29.7239 72.5228 29.8412 72.2376C29.9586 71.9523 30.0182 71.6466 30.0166 71.3382C30.0151 71.0298 29.9524 70.7247 29.8322 70.4407C29.712 70.1566 29.5367 69.8992 29.3164 69.6833"
                            stroke="white" stroke-width="1.33333" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_106_573" x1="55" y1="27" x2="55" y2="69"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="white"></stop>
                            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                        </linearGradient>
                    </defs>
                </svg>

            </div>
        </div>
        <p class="mt-2 text-sm font-medium text-gray-900">Instant speech</p>
    </div>
</a>
