<!-- Sound Effect Card Component -->
<a [routerLink]="['/sound-effect']"
    class="group flex flex-col items-center text-center outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded-xl">
    <div class="relative w-full max-w-[180px]">
        <div
            class="relative overflow-hidden flex items-center justify-center rounded-2xl bg-gray-100 transition-colors duration-200 group-hover:bg-gray-200 w-full">
            <div class="w-full pb-[100%]"></div>
            <div
                class="absolute inset-0 flex items-center justify-center md:group-hover:scale-110 transition-transform duration-200 ease-in-out will-change-transform">
                <svg width="108" height="108" viewBox="0 0 108 108" fill="none"
                    xmlns="http://www.w3.org/2000/svg" class="dark:mix-blend-plus-lighter">
                    <g
                        class="md:group-hover:scale-110 md:group-hover:-rotate-6 origin-[60px_20px] transition-all duration-200 ease-in-out">
                        <rect x="69.2456" y="18.9657" width="34" height="34" rx="8"
                            transform="rotate(7.64999 69.2456 18.9657)" fill="url(#pattern0_106_569)"
                            class="dark:hue-rotate-180 dark:invert"></rect>
                    </g>
                    <g
                        class="md:group-hover:scale-110 origin-center transition-all duration-200 ease-in-out">
                        <rect x="9" y="42" width="52" height="28" rx="10"
                            fill="url(#paint0_linear_106_569)"></rect>
                        <path
                            d="M61 42H19C13.4772 42 9 46.4772 9 52V60C9 65.5228 13.4772 70 19 70H48.61"
                            stroke="#E5E7EB" stroke-width="1.5" stroke-linecap="round"></path>
                        <rect x="17" y="50" width="24" height="12" rx="6" fill="#5D79DF"></rect>
                        <path
                            d="M50.9167 61.8333H50.3333C49.7145 61.8333 49.121 61.5875 48.6834 61.1499C48.2458 60.7123 48 60.1188 48 59.5V52.5C48 51.8811 48.2458 51.2876 48.6834 50.85C49.121 50.4125 49.7145 50.1666 50.3333 50.1666H50.9167"
                            stroke="black" stroke-width="1.16667" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M45.0835 61.8333H45.6668C46.2857 61.8333 46.8792 61.5875 47.3167 61.1499C47.7543 60.7123 48.0002 60.1188 48.0002 59.5V58.9166"
                            stroke="black" stroke-width="1.16667" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M45.0835 50.1666H45.6668C46.2857 50.1666 46.8792 50.4125 47.3167 50.85C47.7543 51.2876 48.0002 51.8811 48.0002 52.5V53.0833"
                            stroke="black" stroke-width="1.16667" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </g>
                    <g
                        class="md:group-hover:scale-110 md:group-hover:rotate-12 origin-center transition-all duration-200 ease-in-out">
                        <rect x="52" y="59" width="32" height="32" rx="16" fill="#5D79DF"
                            stroke="#F3F4F6" stroke-width="2.5"
                            class="md:group-hover:stroke-[#E5E7EB] transition-all duration-200 ease-in-out">
                        </rect>
                        <path
                            d="M68.7527 81.9441C68.6291 82.2951 68.1328 82.2951 68.0093 81.9441L66.9179 78.8442C66.8458 78.6395 66.6219 78.5316 66.417 78.6027L63.4214 79.642C63.0768 79.7615 62.7687 79.3892 62.9506 79.0731L64.6191 76.1737C64.7216 75.9955 64.6699 75.7684 64.5003 75.6521L61.7946 73.7969C61.4974 73.5931 61.6069 73.1303 61.9639 73.0814L65.1369 72.6469C65.3456 72.6183 65.4949 72.4307 65.4759 72.2209L65.1743 68.8874C65.141 68.519 65.5876 68.3118 65.8474 68.5751L68.1004 70.8595C68.2547 71.016 68.5072 71.016 68.6616 70.8595L70.9146 68.5751C71.1743 68.3118 71.621 68.519 71.5877 68.8874L71.2861 72.2209C71.2671 72.4307 71.4164 72.6183 71.6251 72.6469L74.798 73.0814C75.155 73.1303 75.2646 73.5931 74.9674 73.7969L72.2616 75.6521C72.0921 75.7684 72.0404 75.9955 72.1429 76.1737L73.8113 79.0731C73.9932 79.3892 73.6852 79.7615 73.3406 79.642L70.345 78.6027C70.14 78.5316 69.9161 78.6395 69.8441 78.8442L68.7527 81.9441Z"
                            stroke="white" stroke-width="1.31363"></path>
                        <path d="M73.7145 70.7085L75.2383 69.5085" stroke="white" stroke-width="1.31363"
                            stroke-linecap="round"></path>
                        <path d="M72.1905 83L71.4286 81.3999" stroke="white" stroke-width="1.31363"
                            stroke-linecap="round"></path>
                        <path d="M62.6297 70.3567L61.5241 69.5008" stroke="white" stroke-width="1.31363"
                            stroke-linecap="round"></path>
                        <path d="M60 77L61.5237 76.6001" stroke="white" stroke-width="1.31363"
                            stroke-linecap="round"></path>
                    </g>
                    <defs>
                        <pattern id="pattern0_106_569" patternContentUnits="objectBoundingBox" width="1"
                            height="1">
                            <use xlink:href="#image0_106_569" transform="scale(0.0028)"></use>
                        </pattern>
                        <linearGradient id="paint0_linear_106_569" x1="61" y1="56" x2="9" y2="56"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="white" stop-opacity="0"></stop>
                            <stop offset="1" stop-color="white"></stop>
                        </linearGradient>
                        <image id="image0_106_569" width="340" height="340"
                            xlink:href="assets/images/png/sound-effect.png">
                        </image>
                    </defs>
                </svg>

            </div>
        </div>
        <p class="mt-2 text-sm font-medium text-gray-900">Sound effect</p>
    </div>
</a>
